<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas Ajax</title>
</head>
<body>
    <div id="app">
    <h3>Nama : {{ member.name }}
    <input type="text" name="name" ref="name" v-model="name" ></h3> 
    <h3>Alamat : {{ member.address }} 
    <input type="text" name="address" ref="address" v-model="address"></h3>
    <h3>No Hp : {{ member.no_hp }}
    <input type="text" name="no_hp" ref="no_hp" v-model="no_hp"></h3> 
    <input type="submit" value="SUBMIT">
    <ul>
        <li v-for="member in members">
            {{ member.name }}
            <button @click="showMember(member.id)">Show</button>
            <button @click="hapusMember(member.id)">Hapus</button>
            <button @click="uploadFoto(member.id)">Upload Foto</button>
        </li>
    </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var api = axios.create({
            baseURL: 'http://demo-api-vue.sanbercloud.com/api/member',
        });

        let vm = new Vue ({
            el : '#app',
            data : {
                name : '',
                address : '',
                no_hp : '',
                members : [], 
                member : {}
            },
            methods : {
                getAll : async function(){
                    try {
                        const config = {
                            method : 'get',
                            url : ''
                        }
                        const res = await api(config)
                        this.members = res.data.members
                       
                    } catch (error) {

                    }
                    
                },
                showMember : async function(idMember){
                    alert('masuk')
                 try {
                     const config ={
                         method : 'get',
                         url : `${idMember}`
                     }
                    const res = await api(config)
                    this.member = res.data.member

                 } catch (error) {
                     
                 }   
                }
            },
            submit : function(){
                let formData = new formData()
                formData.append('name' , this.name)
                formData.append('address' , this.address)
                formData.append('no_hp' , this.no_hp)
                const config = {
                    method : "post",
                    url : 'http://demo-api-vue.sanbercloud.com/api/member',
                    data : formData
                }

                axios(config)
                .then( (response) => {
                    console.log(response.data)
                })
                .catch( (error) =>{

                })
                alert('Terimakasih Anda telah mengisi data dengan benar')

            
            },
            hapusMember : function(id){
                  const config = {
                      method : "post",
                      url : 'http://demo-api-vue.sanbercloud.com/api/member/1?_method=DELETE',
                        params : {_method : "DELETE"}
                  }
                  
                  axios(config)
                  .then( (response) => {
                      this.getAll()
                     
                  })
                  .catch( (error) =>{
                    console.log(error)
})
                },
            uploadFoto : function(id){
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.buttonStatus = 'upload'
                this.idUploadMember = member.id
            },

            created(){
               this.getAll() 
            }
        })
    </script>
</body>
</html>