<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Input Binding</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <form>
            <input v-model="search" placeholder="Ketikkan Kata Kunci"> 
        </form>
        <ul v-for="book  in filterBooks">
            <li>{{ book.title }}</li>
        </ul>
      
    </div>

    <script>
        var vm = new Vue({
           el: '#app',
           data : {
            search: '',
            books : [
                { title : 'kalkulus dasar'},
                { title : 'fisika dasar'},
                { title : 'aljabar linier elementer'},
                { title : 'aljabar abstrak'},
                { title : 'algoritma pemrograman'},
                ]
          
          },
            computed : {
                filterBooks() {
                    return this.books.filter((book) => {
                    // Return title = search
                    return book.title.match(this.search);
                })
            }
            } 
        })
    </script>

</body>
</html>