<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="Amenity.name" placeholder="Users name">
        <label for="category">Category:</label>
        <select id="cetegory" v-model="Amenity.category">
          <option value="family">Users</option>
        </select>
        
        
        <input type="button" @click="addAmenity" value="Submit" class="btn btn-info">
      
        <div>
        
          <ol>
            <li v-for="(item, index) in familyCategory">
              {{ index }} - {{ item.name }}
              <button>
                Edit
              </button>
              <button v-on:click="removeElement(item.id)">
                 Delete
              </button>
            </li>
          </ol>
        </div>
        
      </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script>
   var vm = new Vue({
    el: '#app',
  data: function() {
    return {
      Amenity: {
        name: '',
        category: ''
      },
      amenities: [{
'name' : 'Muhammad Iqbal Mubarok',
},
{
'name' : 'Ruby Purwanti',
},
{
'name' : 'Faqih Muhammad',
},],
      nextId:0
    }
  },
  computed: {
    familyCategory: function () {
        return this.amenities.filter(i => i.category === 'family')
    },
  },
  methods: {
    addAmenity: function(e) {
      this.amenities.push({
        id: this.nextId,
        name: this.Amenity.name,
        category: this.Amenity.category
      });
      this.Amenity = {
        name: '',
        category: 'family'
      };
      this.nextId = this.nextId+1;
    },
    
   removeElement : function (id) {
      console.log(id);
      this.amenities=this.amenities.filter(e => e.id!=id);
    }
  }
})
  </script>
</body>
</html>

